<h1>Sample Form</h1>


<form #userForm='ngForm' (ngSubmit)="onSubmit(userForm.value)">
  <div>
    <input type="text" name="email" required placeholder="Enter Email" ngModel
      #email='ngModel'
    />

  </div>

  <span class="error"   *ngIf = 'email.invalid'>Email field cannot be empty</span>
  <br />
  <br />

  <br />
  <br />
  <input type="password" name="password" required placeholder="Enter Password" ngModel 
      #email='ngModel' 
  />
  <br />
  <br />
  
  <button type="submit">Login</button>
</form>