input.ng-invalid{
    border: 3px solid red;
    width: 200px;
    height: 30px;

}
input.ng-valid{
    border:3px solid green;
    width: 200px;
    height: 30px;
}

button{
    width: 100px;
    height: 40px;
    background-color: indianred;
    border-radius: 5px;
    border-width: 3px;
    border-color: green;
    margin-left: 50px;
}

.error{
        color: red;
}