<h1>Sample Form</h1>

<p> Title in UpperCase {{title|uppercase}}</p>
<p>Title in LowerCase {{title|lowercase}}</p>
<p> Money in currency pipeline =>>>> {{money | currency:"INR"}}</p>

<p> Date =>>>>> {{date | date:'dd MMMM YYYY'}}</p>
<p>{{date | date:'shortTime'}}</p>
<p>Json pipeline =>>>{{nameObject|json}}</p>
<p>Custom pipeLine of a number =>>>{{27|square}}</p>

<form #userForm='ngForm' (ngSubmit)="onSubmit(userForm.value)">
  <div>
    <input type="text" name="email" required placeholder="Enter Email" ngModel
      #email='ngModel'
    />

  </div>

  <span class="error"   *ngIf = 'email.invalid'>Email field cannot be empty</span>
  <br />
  <br />

  <br />
  <br />
  <input type="password" name="password" required placeholder="Enter Password" ngModel 
      #email='ngModel' 
  />
  <br />
  <br />
  
  <button type="submit">Login</button>
</form>